*{
    padding: 0%;
    margin: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Rajdhani:wght@300;400&display=swap');
/*
font-family: 'Abel', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Rajdhani', sans-serif;
*/
.main{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.back{
    position: absolute;
    left: 750px;
    width: 25%;
    height: 100vh;
    background-image: linear-gradient(to top left,rgba(253, 99, 202, 0.918),rgba(124, 235, 235, 0.918));
}
.top{
    position: absolute;
}
.top img{
    width: 15%;
    margin-top: 40px;
    margin-left: 50px;
}
.top h1{
    color: rgb(223, 211, 211);
    font-size:26px;
    font-family: 'Abel', sans-serif;
    position: relative;
    top: -33px;
    left: 100px;
    font-weight: 700;
}
.top nav{
    display: flex;
}
.top ul{
    position: relative;
    top: -55px;
    left: 182px;
}
.top ul li{
    display: inline-flex;
    list-style: none;
}
.top ul li a{
    text-decoration: none;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    color: rgb(199, 199, 199);
    padding: 0px 30px;
    transition: 0.5s;
}
.top ul li a:hover{
    color: white;
    font-size: 15px;
}
.top button{
    position: relative;
    top: -89px;
    left: 1150px;
    font-size: 14px;
    padding:7px 30px;
    background: transparent;
    color: rgb(221, 221, 221);
    border-style: none;
    border: 0.2px rgb(214, 211, 211) solid;
    border-radius: 20px;
}
.top button:hover{
    background: linear-gradient(to left,rgba(124, 235, 235, 0.918),rgba(211, 49, 157, 0.918));
    border-style: none;
}
.content{
    color: white;
}
.content h1{
    background: linear-gradient(to left,rgba(124, 235, 235, 0.918),rgba(211, 49, 157, 0.918));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: absolute;
    top: 160px;
    left: 50px;
    font-size: 80px;
    font-family: 'Abel', sans-serif;
}
.content h2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 80px;
    font-weight: 300;
    margin-right: 500px;
    position: relative;
    top: 230px;
    left: 50px;
}
.content h3{
    font-family: 'Abel', sans-serif;
    margin-right: 1100px;
    position: relative;
    left: 50px;
    top: 220px;
    font-size: 50px;
}
.content p{
    margin-right:800px;
    position: relative;
    top: 230px;
    left: 50px;
    font-family: 'Rajdhani', sans-serif;
}
.content img{
    width: 37%;
    position: absolute;
    top: 30px;
    left: 670px;
}
#price{
    font-size: 14px;
    font-family: 'Abel', sans-serif;
    position: relative;
    left: 50px;
    top: 300px;
    top: 300px;
}
#rate{
    font-size: 30px;
    position: relative;
    top: 10px;
    font-family: 'Abel', sans-serif;
}
#color{
    font-size: 14px;
    font-family: 'Abel', sans-serif;    
    position: relative;
    left: 150px;
    top: 267px;
}
#col1{
    position: absolute;
    top:37px;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: rgb(57, 70, 182);
    border-radius: 10px;
}
#col2{
    position: absolute;
    top: 37px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    border-radius: 10px;
}
#col3{
    position: absolute;
    top: 37px;
    right: -30px;
    width: 20px;
    height: 20px;
    background-color: rgb(177, 226, 43);
    border-radius: 10px;
}
#img1{
    width: 28%;
    position: relative;
    left: 7px;
}
#img2{
    width: 28%;
}
#img3{
    width: 28%;
    position: relative;
    right: 7px;
}
.end ul{
    
    margin-right: 780px;
    position: relative;
    top: 270px;
    left: 620px;
}
.end ul li{
    list-style: none;
    position: relative;
    background-color: rgb(0, 0, 0);
    left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
       
}
.end ul li img{
    padding: 14px;
}
#cart{
    color: aliceblue;
    font-size: 17px;
    border: 1px white solid;
    padding: 8px;
    position: relative;
    top: 180px;
    left: 60px;
    border-radius: 20px;
}
#heart{
    color: aliceblue;
    font-size: 17px;
    border: 1px white solid;
    padding: 8px;
    position: relative;
    top: 180px;
    left: 70px;
    border-radius: 20px;
}
.end button{
    font-size: 14px;
    padding: 7px 20px;
    border-style: none;
    font-weight: bolder;
    border-radius: 20px;
    color: black;
    background-image: linear-gradient(to left,rgb(221, 52, 213),rgb(69, 206, 194));
    position: relative;
    left: 50px;
    top: 180px;
}