*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: linear-radient;
}
.upper{
    display: inline-flex;
}
#pre1{
    font-family: 'Trebuchet MS';
    font-size: 13px;
    font-style: none;
    position: fixed;
    margin-left: 280px;
    margin-top: 35px;
    background-color: rgb(223, 15, 0);
    color: white;
    padding-left:30px;
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 13px;
}
#pre1:hover{
    background-color: black;
}
#img1{
    width: 3%;
    position: fixed;
    margin-left: 60px;
    margin-top: 33px;
    padding: 3px;
    border-radius: 25px;
    background-color:  rgb(253, 191, 186) ;
}
#img1:hover{
    background-color: black;
}

#img2{
    width: 250px;
    position: relative;
    left: 600px;
    bottom: 70px;
    
}
#pre4{
    position: relative;
    margin-left: 550px;
    font: bold;
    font-size: 40px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
}
#pre4:hover{
    color: red;
}
#pre2{
    position: relative;
    left:600px;
    bottom: 50px;
    font-size: 20px;
    margin-right: 1300px;
}
#pre2:hover{
    color: red;
}
#blog{
    margin-right:1300px ;
    position: relative;
    left: 45px;
    bottom: 400px;
    transform: rotate(270deg);

}
#pre3{
    position: relative;
    left: 870px;
    bottom: 100px;
    margin-right: 1300px;
    font-size: 40px;
    font: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
}
#pre3:hover{
    color: red;
}
#pre5{
    position: relative;
    left: 1060px;
    bottom: 575px;
    font: bold;
    font-size: 40px;
    margin-right: 1300px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';   
}
#pre5:hover{
    color: red;
}
#img4{
    width: 235px;
    height: 700px;
    position: absolute;
    left: 1106px;
    bottom: 5px;
}
#img3{
    width: 180px;
    position: relative;
    left: 926px;
    bottom: 230px;
}
.upper3 h1{
    transform: rotate(270deg);
    position: relative;
    top: -930px;
    right: 600px;
    font-size: 20px;
}
#lo1{
    position: relative;
    left: 100px;
    bottom: 420px;
    padding-left: 25px;
}
.navbar ul li{
    display: inline-flex;
    position: relative;
    left: 660px;
    bottom: 390px;
  
}
.navbar ul li a{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: white;
    background-color:rgb(223, 15, 0);
}
.navbar ul li a:hover{
    background-color: black;
    color: white;
}
#exp{
    position: relative;
    bottom: 350px;
    padding-left: 60px;
    font-size: 40px;
    font: bolder ;
    font-family: Impact;
    margin-right: 1100px;
}
#exp:hover{
    color: rgb(223, 15, 0);
}
#exp1{
    position: relative;
    bottom: 350px;
    padding-left: 60px;
    margin-right: 1000px;
    font-size: 40px;
    font-family: Impact;

}
#exp1:hover{
    color: rgb(223, 15, 0);
}
#exp2{
    font-family: Impact;
    position: relative;
    bottom: 350px;
    padding-left: 60px;
    font-size: 60px;
    color: rgb(223, 15, 0);
    margin-right: 1300px;
}
#exp2:hover{
    color: black;
}
#exp3{
    margin-left: 900px;
    text-align: center;
    position: relative;
    right: 600px;
    bottom: 470px;

    background-size: 50px 50px ;
}
#quate{
    margin-right: 1100px;
    position: relative;
    left: 850px;
    bottom: 330px;
    text-align: center;
    color: rgb(223, 15, 0);
}